.HeaderMain {
  padding: 0.5rem 1rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.DarkBackground {
  background-color: #343a40;
}