.HeaderButtonLink {
  border: unset;
  padding: 0.5rem;
  margin-left: 0.5rem;
  outline: none;
  background-color: unset;
  color: white;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #4CAF70;
  }

}

.OnThisRoute {
  border-bottom: 0.2rem solid #4CAF70;
}

.OutThisRoute {
  border-bottom: 0.2rem solid #343A40;
}

