.HeaderButtonLink {
  border: unset;
  padding: 1rem;
  margin-left: 0.5rem;
  outline: none;
}

.HeaderButtonLink:focus {
  outline: none;
}

.HeaderButtonLink:hover {
  background-color: blue;
}

.HeaderButtonLink:active {
  border-bottom: 0.5rem solid blueviolet;
}